<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand='block' (click)="uploadSelectedPhoto()"><ion-icon name="cloud-upload-outline"></ion-icon>upload</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let isi of checkBox; index as position">        
        <ion-img [src]="isi.webViewPath"></ion-img>
        <ion-checkbox [(ngModel)]="isi.isChecked"></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="tambahFoto()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
